<div class="list-data">

  <app-generic-filter [fields]="fields" [buttons]="buttons" (onReset)="onReset()"></app-generic-filter>
  <app-generic-pagination [page]="totalPages()" 
    [currentPage]="currentPage()" (next)="onNext()" (prev)="onPrev()" [pageSize]="pageSize()" 
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)" >
  </app-generic-pagination>

  @if (!loading() && episodes().length > 0) {
    <div class="grid">
      @for (episode of episodes(); track episode.id; let idx = $index) {
        @if(episode){
          <app-generic-card [data]="transformData(episode)" (select)="openDetail($event)"></app-generic-card>
        }
      }
    </div>
  }

  @if(!loading() && episodes().length == 0){
    <app-not-found [errorType]="'not-found'"></app-not-found>
  }

  @if(loading()){
    <app-loading></app-loading>
  }

  @defer {
    <app-episode-detail [open]="modalOpen()" [episodeId]="selectedEpisode()" (close)="closeDetail()"></app-episode-detail>
  }

</div>
