@if(open){

  @if(!loading() && episode() == null){
    <app-not-found [errorType]="'empty'"></app-not-found>
  }

  @if(loading()){
    <app-loading></app-loading>
  }

  @if (!loading() && episode()) {
    <app-generic-modal [open]="open" (close)="closeModal()" title="Detalle Episodio">
      <div class="episode-card">
        <header>
          <h3>{{ episode()?.name }}</h3>
          <small class="muted">Código del episodio : {{ episode()?.episode }}</small>
        </header>
      </div>

      @if (!loading() && episode() && caharacterList().length > 0) {
        <hr>
        <h4>Personajes que aparecen en el episodio :</h4>
        <div class="grid-custom">
          @for (character of caharacterList(); track character.id; let idx = $index) {
            @if(character){
              <app-generic-card [data]="transformData(character)"></app-generic-card>
            }
          }
        </div>
      }

    </app-generic-modal>

  }

}
