.grid-custom {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 200px;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  overflow-x: auto; 
  overflow-y: hidden;
  padding: 1rem 1rem;
  -webkit-overflow-scrolling: touch; 
}

.grid-custom > * {
  width: 100%;
  scroll-snap-align: start;
}