

.app-header {
  display: flex;
  align-items: center;
  width: 100%;

  align-content: space-around;

  ul {
    position: fixed;
    top: 0;
    width: 100%;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f2e3c;
    z-index: 3000;

    li {
      float: left;

      a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        border: 1px solid #0f2e3c;
      }
      .a-item {
        padding: 30px;
      }

      a.active {
        background: rgba(255,255,255,0.12);
        border: 1px solid #a9d109;

      }

      a:hover {
        background-color: #6194ab;
        border: 1px solid #a9d109;
      }

    }
  }

}

