.filter-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 2px 2px 6px #0f2e3c0f;
  display: block;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: left;
}
