.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.5rem;
  list-style: none;
}

.page-size-selector{
  margin-left: 1rem;
  padding-left: 2rem;
  border-left: 1px solid #c3c3c3;
}