<ul class="pagination" role="navigation" aria-label="Paginación">
  <li>
    <button class="basic-btn" (click)="onPrev()" [disabled]="(page == 0 || (currentPage <= 1))" aria-label="Anterior">&laquo;</button>
  </li>

  <li *ngFor="let p of pagesList">
    <button class="basic-btn" [class.active]="p === currentPage" (click)="goTo(p)"> {{ p }}</button>
  </li>

  <li>
    <button class="basic-btn" (click)="onNext()" [disabled]="(page == 0 || (page ? currentPage >= page : false))" aria-label="Siguiente">&raquo;</button>
  </li>
</ul>
