/dist
/tmp
/out-tsc
/bazel-out

/node_modules
npm-debug.log
yarn-error.log

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.swp
*.swo

.angular/cache
.build-analytics
.ng-dev.user.*
baseline.json

.DS_Store
Thumbs.db
