<div class="list-data">

  @if (error()) {
    <!-- app-error-display [message]="error()!" / -->
  }

  <app-generic-filter [fields]="fields" [buttons]="buttons" (onReset)="onReset()"></app-generic-filter>
  <app-generic-pagination [page]="totalPages()" [currentPage]="currentPage()" (next)="onNext()" (prev)="onPrev()" (pageChange)="onPageChange($event)"/>

  @if (!loading() && characters().length > 0) {
    <div class="grid">
      @for (character of characters(); track character.id; let idx = $index) {
        @if(character){
          <app-generic-card [data]="transformData(character)" (select)="openDetail($event)"></app-generic-card>
        }
      }
    </div>
  }

  @if(!loading() && characters().length == 0){
    <app-not-found [errorType]="'not-found'"></app-not-found>
  }

  @if(loading()){
    <app-loading></app-loading>
  }

  @defer {
    <app-character-detail [open]="modalOpen()" [characterId]="selectedCharacter()" (close)="closeDetail()"></app-character-detail>
  }

</div>
